<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SeaLane2020.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9257F6521E8A19F800B11468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9257F6661E8A19F800B11468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9257F6711E8A19F800B11468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
